@import url('https://fonts.google.com/earlyaccess');


.searchForm{
    display: table;
    position: absolute;
<<<<<<< HEAD
    left: 30%;
=======
    align-items: center;
>>>>>>> 06085776b29459852450d7e0d6167d698f093f71
    top: 200px;
    width : 300px;
    height: 18px;

}

<<<<<<< HEAD
=======
.searchBox{
    width : 300px;
}


>>>>>>> 06085776b29459852450d7e0d6167d698f093f71
body{
    background-color: #F8F8F8;
}

h1{
    padding-top: 10%;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 
    Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 70px;
    text-align: center;
}
